@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: calc(100vw / 1920 * 10);
    font-optical-sizing: auto;
    text-transform: uppercase;

    padding: 0;
    margin: 0;

    background-color: #CFA6BF;
}

h1 {
    font-family: "Silkscreen", serif;
    font-weight: 700;
    font-style: normal;
    color: #DD64A2;
    font-size: 2rem;
}

input {
    font-family: "Silkscreen", serif;
    font-weight: 700;
    font-style: normal;
    color: #DD64A2;
    font-size: 2rem;
}

span {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
    color: #DD64A2;
    font-size: 2.2rem;
}


/* light */
.light-bg {
    background-image: url('/light-bg.png');
}

.light-header-bg {
    background-color: #F393B2;
}

.light-container-bg {
    background-color: #FCC5D8;
}

.light-monitor-bg {
    background-color: #FEDCE7;
}

.light-border {
    border: 4px solid #DD64A2;
}

.light-header-border {
    border-top: 4px solid #DD64A2;
    border-right: 4px solid #DD64A2;
    border-left: 4px solid #DD64A2;
}

.light-border-bottom {
    border-bottom: 4px solid #DD64A2;
}

/* dark */
.dark-bg {
    background-image: url('/dark-bg.png');
}

.dark-text {
    color: #616161
}

.dark-header-bg {
    background-color: #757575
}

.dark-container-bg {
    background-color: #ABABAB;
}

.dark-monitor-bg {
    background-color: #E2E2E2;
}

.dark-border {
    border: 4px solid #616161
}

.dark-header-border {
    border-top: 4px solid #616161;
    border-right: 4px solid #616161;
    border-left: 4px solid #616161;
}

.dark-border-bottom {
    border-bottom: 4px solid #616161;
}

.dark-filter {
    filter: brightness(0) saturate(100%) invert(39%) sepia(35%) saturate(0%) hue-rotate(168deg) brightness(88%) contrast(92%);
}

@media(max-width: 1024px) {
    html {
        font-size: calc(100vw / 768 * 10);
    }
}

@media(max-width: 767px) {
    html {
        font-size: calc(100vw / 500 * 10);
    }
}

@media(max-width: 500px) {
    html {
        font-size: calc(100vw / 414 * 10);
    }
}


@keyframes heart1 {
    0% {
        transform: rotateY(0deg);
        top: 12rem;
        right: 21.3rem;
    }

    60% {
        right: 22.3rem;
    }

    100% {
        transform: rotateY(360deg);
        top: 1rem;
        right: 21.3rem;
        opacity: 0;

    }


}

.heart1 {
    animation: heart1 4s ease-in-out;
    transform-style: preserve-3d;
}


@keyframes heart2 {
    0% {
        transform: rotateY(0deg);
        top: 15rem;
        right: 20rem;
    }

    100% {
        transform: rotateY(360deg);
        top: 1rem;
        right: 21.3rem;
        opacity: 0;
    }

}

.heart2 {
    animation: heart2 3.2s ease-in-out;
    transform-style: preserve-3d;
}

@keyframes heart3 {
    0% {
        transform: rotateY(0deg);
        top: 5.4rem;
        right: 21.5rem;
    }

    100% {
        transform: rotateY(360deg);
        top: 1rem;
        right: 21.5rem;

        opacity: 1;
    }

}

.heart3 {
    animation: heart3 3.8s ease-in-out;
    transform-style: preserve-3d;
}

@keyframes heart4 {
    0% {
        transform: rotateY(0deg);
        top: 3.6rem;
        right: 17rem;
    }

    100% {
        transform: rotateY(360deg);
        top: 1rem;

        opacity: 1;
    }

}

.heart4 {
    animation: heart4 3.7s ease-in-out;
    transform-style: preserve-3d;
}


@keyframes heart5 {
    0% {
        transform: rotateY(0deg);
        top: 3.3rem;
        right: 7.5rem;
    }

    100% {
        transform: rotateY(360deg);
        top: 1rem;
        opacity: 1;
    }

}

.heart5 {
    animation: heart5 3.4s ease-in-out;
    transform-style: preserve-3d;
}

@keyframes heart6 {
    0% {
        transform: rotateY(0deg);
        top: 10rem;
        right: 6.2rem;
    }

    100% {
        transform: rotateY(360deg);
        top: 1rem;
        opacity: 1;
    }

}

.heart6 {
    animation: heart6 3.4s ease-in-out;
    transform-style: preserve-3d;
}

@keyframes heart7 {
    0% {
        transform: rotateY(0deg);
        top: 13.5rem;
        right: 8.5rem;
    }

    100% {
        transform: rotateY(360deg);
        top: 1rem;
        opacity: 1;
    }

}

.heart7 {
    animation: heart7 3s ease-in-out;
    transform-style: preserve-3d;
}